<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter and Route (ELFAR)</title>
        <link href="@Url.Content("~/Styles/StyleSheet.css")" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="elfar">Error Logging Filter and Route (ELFAR) &nbsp;/&nbsp; <strong>@ErrorLogProvider.Application</strong> &nbsp;/&nbsp; <strong>@Server.MachineName</strong></div>
            <ul id="tabs">
                <li class="selected">Dashboard</li>
                <li>test</li>
            </ul>
        </header>
        <div id="content">
            <div id="list">
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
            </div>
            <div id="item">
                <div id="summary">
                    Summary
                </div>
                <div id="detail">
                    <span>testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                </div>
            </div>
        </div>
        <footer>Copyright &#169; 2012&ndash;@DateTime.Now.Year  Beyond395 Limited &nbsp;&middot;&nbsp; All rights reserved &nbsp;&middot;&nbsp; @ErrorLogProvider.Details</footer>
        @*<script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $.ajax({ url: "@Url.Content("~/elfar/Errors")" }).done(function(json) {
                    //$("pre#stack-trace").html(json[0].StackTrace);
                });
            });
        </script>*@
    </body>
</html>