<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter and Route (ELFAR)</title>
        <link href="@Url.Content("~/Styles/StyleSheet.css")" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="elfar">Error Logging Filter and Route (ELFAR)</div>
            <div id="title">Dashboard for <strong>@HttpRuntime.AppDomainAppId</strong> on <strong>@Server.MachineName</strong></div>
        </header>
        <div id="content">
            <pre id="stack-trace">
            </pre>
        </div>
        <footer>Copyright &copy; Beyond395 Limited 2011&ndash;@DateTime.Now.Year &nbsp; All rights reserved. &nbsp; @ErrorLogProvider.Details</footer>
        <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            $(function() {
                $.ajax({ url: "@Url.Content("~/elfar/Errors")" }).done(function(json) {
                    //$("pre#stack-trace").html(json[0].StackTrace);
                });
            });
        </script>
    </body>
</html>