<!DOCTYPE html>
<html>
<head>
    <title>Error Logging Filter and Route</title>
    <script type="application/json">{"Path":"@Url.Content("~/elfar")"}</script>
    <link href="@Url.Content("~/elfar/styles.css")" type="text/css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Header")
    <div>
        @Html.Partial("Dashboard")
        @Html.Partial("List")
    </div>
    @Html.Partial("Footer")
    <script src="@Url.Content("~/elfar/script.js")" type="text/javascript"></script>
</body>
</html>