<!DOCTYPE html>
<html>
    <head>
        <title>Error Logging Filter and Route</title>
        <link href="@Url.Content("~/Styles/StyleSheet.css")" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="elfar">Error Logging Filter and Route &nbsp;/&nbsp; <strong title="The name or id of the web application">@ErrorLogProvider.Application</strong> &nbsp;/&nbsp; <strong title="The name of the server">@Server.MachineName</strong></div>
            <ul id="tabs">
                <li class="selected">Dashboard</li>
            </ul>
        </header>
        <div id="content">
            <div id="dashboard">
                <p>
                    Trends:
                    <ul>
                        <li>90 days</li>
                        <li>30 days</li>
                        <li>7 days</li>
                        <li>today</li>
                    </ul>
                </p>
                <p>
                    Donut charts:
                    <ul>
                        <li>Areas</li>
                        <li>Controllers (per Area)</li>
                        <li>Actions (per Controller & Area)</li>
                    </ul>
                </p>
                <p>
                    List:
                    <ul>
                        <li>last 10 errors</li>
                        <li>10 most common errors</li>
                    </ul>
                </p>
            </div>
            @*<div id="list">
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
                <span>test</span><br/>
            </div>
            <div id="item">
                <div id="summary">
                    Summary
                </div>
                <div id="detail">
                    <span>testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                    <span>test</span><br/>
                </div>
            </div>*@
        </div>
        <footer>Error Logging Filter and Route (v@(this.Version())) &#169; 2012&ndash;@DateTime.Now.Year  Beyond395 Limited &nbsp;&middot;&nbsp; All rights reserved</footer>
        <script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/")elfar/errorlogs" type="text/javascript"></script>
        @*<script type="text/javascript">
            var errors;
            $.ajax(
                "@Url.Content("~/")elfar/errorlogs",
                {
                    success: function(data) { alert(data.length); },
                    error: function(r, m) { alert(m); }
                }
            );
        </script>*@
        <script type="text/javascript">
            $("body")(errors[0].Html);
        </script>
    </body>
</html>