@model Elfar.Mvc.Models.Index
@{ var url = Request.Url; }
<rss xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="0.91">
  <channel>
    <title>@string.Format("Error log for {0} on {1}", Model.Application, Server.MachineName)</title>
    <link>@(Request.Url.GetLeftPart(UriPartial.Authority) + Request.ServerVariables["URL"])</link>
    <description>Log of recent errors</description>
    <language>en</language>
@foreach (var errorLog in Model.Errors)
{
    <item>
      <title>@errorLog.Message</title>
      <description>An errorLog of type @errorLog.Type occurred. @errorLog.Message</description>
      <pubDate>@errorLog.Time.ToString("r")</pubDate>
      <link>@url.Scheme://@url.Authority@Url.Action("Default", "ErrorLog", new { id = errorLog.ID })</link>
    </item>
}
  </channel>
</rss>