<!DOCTYPE html>
<html>
<head>
    <title>Error Logging Filter and Route</title>
    @*<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
    <link type="text/css" rel="stylesheet" href="@Url.Action("styles")">
</head>
<body>
    @Html.Partial("Header")
    <div data-bind="foreach: tabs">
        <div data-bind="visible: selected, template: template"></div>
    </div>
    @Html.Partial("Footer")
    <script id="dashboard-template" type="text/html">
        @Html.Partial("Dashboard")
    </script>
    <script id="term-tab-template" type="text/html">
        @Html.Partial("Term")
    </script>
    <script type="text/html" id="Controllers-template">

    </script>
    @if (Request.IsLocal)
    {
        <script type="text/javascript" src="/Scripts/jquery-2.1.3.min.js"></script>
        @*<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>*@
        <script type="text/javascript" src="/Scripts/knockout-3.3.0.js"></script>
        <script type="text/javascript" src="/Scripts/highcharts.js"></script>
        <script type="text/javascript" src="/Scripts/linq.min.js"></script>
    }
    else
    {
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        @*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>*@
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>
        <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="https://rawgit.com/stevenbey/linq.js/master/linq.js"></script>
    }
    <script type="text/javascript" src="@Url.Action("script")"></script>
</body>
</html>