@model dynamic
Content-Type: text/html

<html>
	<head>
		<title>@Model.Subject</title>
		<style type="text/css">
            body { font-family: verdana, arial, helvetic; font-size: x-small; } 
            td, th, pre { font-size: x-small; } 
            #errorDetail { padding: 1em; background-color: #FFFFCC; } 
            #errorMessage { font-size: medium; font-style: italic; color: maroon; }
            h1 { font-size: small; }
        </style>
	</head>
	<body>
		<p id="errorMessage">@Model.Subject</p>
        <p>Generated: @Model.Date @Model.Time</p>
        <p>@Model.Source</p>
        <pre id="errorDetail">@Model.StackTrace</pre>
		<p>@AssemblyInfo.Value</p>
	</body>
</html>