@using System.Globalization
@using Elfar
@model Elfar.Models.Index
<rss xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="0.91">
  <channel>
    <title>@string.Format("Daily digest of errors for {0} on {1}", Model.Application, Server.MachineName)</title>
    <link>@(Request.Url.GetLeftPart(UriPartial.Authority) + Request.ServerVariables["URL"])</link>
    <description>Daily digest of application errors</description>
    <language>en</language>
@foreach (var group in Model.Errors.GroupBy(e => e.Time.Date))
{
    var date = group.Key;
    <item>
        <title>Digest for @date.ToString("yyyy-MM-dd") (@date.ToLongDateString())</title>
        <description>&lt;ul&gt;
        @foreach (var errorLog in group) {
        @:    &lt;li&gt;&lt;span title="@errorLog.Type"&gt;@errorLog.Type.ShortName()&lt;/span&gt;: @Html.Encode(Html.ActionLink(errorLog.Message, "Default", new { id = errorLog.ID })) &lt;/li&gt;
        }
            &lt;/ul&gt;</description>
        <pubDate>@date.ToString("r")</pubDate>
    </item>
}
  </channel>
</rss>