@using System.Web.Mvc.Html
@using Elfar
@model Elfar.Models.Index
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>Error log for '@Model.Application' on '@Server.MachineName'</title>
        <link rel="stylesheet" type="text/css" href="@Url.Action("Stylesheet")" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="@Url.Action("Rss")" />
        <meta http-equiv="refresh" content="60">
    </head>
    <body>
        <h1>Error Log for <span>'@Model.Application' on '@Server.MachineName'</span></h1>
        @if(Model.Errors.Count() != 0)
        {
            <ul id="navigation">
                <li><a href="@Url.Action("Rss")" title="RSS feed of recent errors">RSS Feed</a></li>
                <li><a href="@Url.Action("Digest")" title="RSS feed of errors within recent days">RSS Digest</a></li>
                <li><a href="@Url.Action("Download")" title="Download the entire log as CSV">Download</a></li>
            </ul>
            <table>
                <thead>
                    <tr>
                        <th title="Number">#</th>
                        <th>Host</th>
                        <th>Application</th>
                        <th>Code</th>
                        <th>Type</th>
                        <th>Error</th>
                        <th>User</th>
                        <th>Date &amp; Time</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var i = 1; }
                    @foreach (var errorLog in Model.Errors)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@errorLog.Host</td>
                            <td>@errorLog.Application</td>
                            <td class="code-col"><span title="@HttpWorkerRequest.GetStatusDescription(errorLog.Code.GetValueOrDefault())">@errorLog.Code</span></td>
                            <td class="type-col"><span title="@errorLog.Type">@errorLog.Type.ShortName()</span></td>
                            <td><span>@errorLog.Message</span> @Html.ActionLink("Details…", "Default", "ErrorLog", new { id = errorLog.ID }, null)</td>
                            <td>@errorLog.User</td>
                            <td class="date-col" nowrap="nowrap"><span title="@errorLog.Time">@errorLog.Time</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No errors found.</p> 
        }
        @{ Html.RenderPartial("Footer"); }
        <script type="text/javascript" src="@Url.Action("JavaScript")"></script>
    </body>
</html>