@model dynamic
Content-Type: text/html

<html>
	<head>
		<title>@Model.Subject</title>
		<style type="text/css">
            body { font-family: verdana, arial, helvetic; font-size: x-small; } 
            td, th, pre { font-size: x-small; } 
            #errorDetail { padding: 1em; background-color: #FFFFCC; } 
            #errorMessage { font-size: medium; font-style: italic; color: maroon; }
            h1 { font-size: small; }
        </style>
	</head>
	<body>
		<p id="errorMessage">@Model.Subject</p>
    @if(Model.Time > DateTime.MinValue)
    {
        <p>Generated: @Model.Time.ToString("r")</p>
    }
        <p>@Model.Source</p>
        <pre id="errorDetail">
@Html.Raw(Model.StackTrace)
        </pre>
		<p id="Footer">@AssemblyInfo.Value</p>
	</body>
</html>